@import "tailwindcss";

/* canvas {
    image-rendering: pixelated;
    background-color: #000000;
    width: 576px;
    height: 576px;
    border: none;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
} */